---
import Menu from '../components/menu.jsx';
import Encabezado from '../components/encabezado.jsx';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="/src/styles/styles.css">
        <title>Mostrar Estadisticas de los Alumnos</title>
    </head>
    <body class="bg-amber-100">

        <div class="container">
            <Encabezado/>
            <Menu/>
            <!--Ejemplo de Estructura -->
            <form action="">
                <fieldset class="border  border-black p-5">
                    <legend>
                        Seleccionar Mes:
                        <select name="" id="">
                            <option value="">Enero</option>
                        </select>
                        <button class="border  border-black p-5">Mostrar</button>
                    </legend>
    
                    <section class="border  border-black p-5">
                        <fieldset class="border  border-black p-5">
                            <legend>Estadisticas del Mes de Octubre (Turno Matutino)</legend>
                            <canvas class="border  border-black "></canvas>
                        </fieldset>

                        <fieldset class="border  border-black p-5">
                            <legend>Estadisticas del Mes de Octubre (Turno Vespertino)</legend>
                            <canvas class="border  border-black "></canvas>
                        </fieldset>
                    </section>
                </fieldset>
            </form>
        </div>

    </body>
</html>