---
import Menu from '../components/menu.jsx';
import Encabezado from '../components/encabezado.jsx';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="/src/styles/styles.css">
        <title>Movimientos Administrativos</title>
    </head>
    <body class="bg-amber-100">
        <div class="container">
            <Encabezado></Encabezado>
            <Menu></Menu>
            <!-- Esto solo es un ejemplo de como se deberia ver -->
            <main>
                <fieldset class="border  border-black p-5">
                    <legend class="border  border-black p-5">Últimos Movimientos</legend>
                    <label>Gael Apanco López 20/10/2024 <strong>Razón:</strong>Enfermedad</label>
                    <button class="border  border-black p-2">Borrar</button>
                    <button class="border  border-black p-2">Editar</button>
                    <label for="">Cambio realizado por X persona</label>
                </fieldset>
            </main>
        </div>
    </body>
</html>