---
import Menu from '../components/menu.jsx';
import Encabezado from '../components/encabezado.jsx';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <title>Nuevo Justificante</title>
        <link rel="stylesheet" href="/src/styles/styles.css">
    </head>
    <body class="bg-amber-100">
        <!--Contenedor Principal encargado del layout-->
        <div class="container">
             <!--Imagen del logo de la escuela y el menú de las funciones-->
            <Encabezado/>
            <Menu/>
           
            <header class="border  border-black p-5">
                <h2 class="text-5xl  text-green-800">Solicitud de Justificantes</h2>
            </header>

            <!--Buscador -->
            <main>
                <form action="">
                    <fieldset class="login border  border-black p-10">
                        <legend class="border  border-black p-5">
                            <header>
                                <h3><strong>Número de Control del alumno:</strong></h3>
                            </header>
                        </legend>
                        
                        <label class="border  border-black p-5">
                            <input class=" border-black border" type="number">
                            <button class="border  border-black p-3">Buscar Alumno</button>
                        </label>    
                       
                    </fieldset>
                </form>
            </main>
        </div>

    </body>
</html>