---
import Menu from '../components/menu.jsx';
import Encabezado from '../components/encabezado.jsx';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator}/>
        <title>Documentaci贸n del Programa</title>
        <link rel="stylesheet" href="/src/styles/styles.css">
    </head>
    <body class="bg-amber-100">

        <div class="container">
            <Encabezado/>
            <Menu/>

            <section>
                <article>
                    <header class="border  border-black p-5">
                        <h2>Documentaci贸n del Programa.</h2>
                    </header>

                    <nav class=" nav-doc p-5  border  border-black" aria-label="Navegaci贸n de Documentaci贸n">
                        <ul>
                            <li><a href="#NuevoJusti">Nuevo Justificante</a></li>
                            <li><a href="#Historial">Historial de Justificantes</a></li>
                            <li><a href="#Estadisticas">Estadisticas</a></li>
                            <li><a href="#MovAdmin">Movimientos Administrativos</a></li>
                            <li><a href="#ActDB">Actualizar Bases de Datos</a></li>
                        </ul>
                    </nav>
                    
                </article>
            </section>
    
            <section class="border  border-black p-5" id="NuevoJusti">
                <aside>
                    <h3>Nuevo Justificante</h3>
                </aside>
            </section>
    
            <section class="border  border-black p-5" id="Historial">
                <aside>
                    <h3>Historial de Justificantes</h3>
                </aside>
            </section>
            
            <section class="border  border-black p-5" id="Estadisticas">
                <aside>
                    <h3>Estadisticas</h3>
                </aside>
            </section>
            
            <section class="border  border-black p-5" id="MovAdmin">
                <aside>
                    <h3>Movimientos Administrativos</h3>
                </aside>
            </section>
    
            <section class="border  border-black p-5" id="ActDB">
                <aside>
                    <h3>Actualizar Bases de Datos</h3>
                </aside>
            </section>
        </div>

    </body>
</html>